@using DistributorWebsite.MVC.WebUI.Models
@model DistributorWebsite.MVC.WebUI.Models.AccountActivityPaymentEntryDTO
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    Boolean canApplyPayments = (Boolean)ViewBag.CanApplyPayments;
    Boolean showScheduledPayments = (Boolean)ViewBag.CanViewScheduledPayments;
}

<h1 class="HC-page-header">@ViewBag.Title</h1>

@if (canApplyPayments)
{
    <div class="modal modal-styled" id="hostedPaymentPageDialog" role="dialog" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-header modal-header-info">
                <button class="close" aria-hidden="true" type="button" data-dismiss="modal" id="btnCloseHostedPaymentPage"><i class="fa fa-times fa-lg"></i></button>
                <h1 style="margin-top: 0; margin-bottom: 0;">@HCResources.ApplyPayment <span class="fa fa-credit-card fa-lg"></span></h1>
            </div>

            <div class="modal-content">

                <div class="row">
                    <div class="col-sm-12 text-left">
                        <div id='HostedPaymentPage'></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

<div ng-app="HCE" style="clear: both;">

    <div id="divPaymentAccountOptions" ng-init="accounts = []; loadedscheduledpayments = false;" class="ng-cloak padbottom-sm" ng-hide="showdetails">
        <div class="row" style="vertical-align: bottom;">
            @if (canApplyPayments)
            {
                <div class="col-xs-12 col-sm-6">
                    <button class="btn btn-primary" id="btnNEWPAYMENT">@HCResources.ApplyPayment <span class="fa fa-credit-card fa-lg"></span></button>
                </div>
            }
        </div>
    </div>

    <div id="divPaymentTabs" data-type="HCDYNAMICOPTIONS" data-container="HCDYNAMICGRID_Distributors" ng-hide="showdetails">
        <ul id="paytablist" class="nav nav-tabs collapsible" role="tablist">
            <li role="presentation" class="active"><a data-type="PAYTAB" id="btnShowPayments" href="#payments" aria-controls="payments" role="tab" data-toggle="tab">@HCResources.Payments</a></li>
            @if (showScheduledPayments)
            {
            <li role="presentation"><a data-type="PAYTAB" id="btnShowScheduled" href="#scheduledpayments" aria-controls="scheduledpayments" role="tab" data-toggle="tab">@HCResources.ScheduledPayments</a></li>
            }
        </ul>

        <!-- Tab panes -->
        <div class="tab-content ng-cloak">
            <div role="tabpanel" class="tab-pane bordered active" id="payments" style="padding-top: 10px;">
            </div>
            @if (showScheduledPayments)
            {
            <div role="tabpanel" class="tab-pane bordered" id="scheduledpayments" style="padding-top: 10px;">
                <table class="table table-striped table-hover table-bordered mobile-table" data-defaultsort="PaymentDate desc">
                    <thead>
                        <tr class="column-header-row">
                            <th>@HCResources.PaymentID</th>
                            <th>@HCResources.Client</th>
                            <th>@HCResources.PaymentDate</th>
                            <th class="hidden-xs hidden-sm">@HCResources.OrderNo</th>
                            <th class="hidden-xs hidden-sm">@HCResources.Amount</th>
                            <th class="hidden-xs hidden-sm">@HCResources.AccountNumber</th>
                            <th class="hidden-xs hidden-sm">@HCResources.Status</th>
                            <th class="hidden-xs hidden-sm">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="payment in scheduledpayments" data-keys="{'ScheduledPaymentID':'{{ payment.ScheduledPaymentID}}'}">
                            <td class="hidden-xs hidden-sm">{{ payment.ScheduledPaymentID }}</td>
                            <td class="hidden-xs hidden-sm">{{ payment.Client }}</td>
                            <td class="hidden-xs hidden-sm">{{ payment.ScheduledPaymentDate | hcdate }}</td>
                            <td class="hidden-xs hidden-sm">{{ payment.OrderNo }}</td>
                            <td class="hidden-xs hidden-sm text-right" ng-bind-html="payment.AmountJSON | hccurrency:'both':DisplayCurrency:2:true:false"></td>
                            <td class="hidden-xs hidden-sm">{{ payment.PaymentAccounts.AccountNumberObfuscated }}</td>
                            <td class="hidden-xs hidden-sm"><span class="label label-warning">{{ payment.ScheduledPaymentStatus }}</span></td>
                            <td class="hidden-xs hidden-sm text-center"><button type="button" data-type="CANCELSCHEDULEDPAYMENT" data-id="{{ payment.ScheduledPaymentID }}" class="btn btn-danger btn-xs">@HCResources.Cancel <span class="fa fa-times"></span></button></td>

                            <td class="hidden-md hidden-lg td-mobile" colspan="3">
                                <div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <span class="smallgraytext">@HCResources.ID:</span> {{ payment.ScheduledPaymentID }}
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            {{ payment.PaymentAccounts.AccountNumberObfuscated }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <span class="smallgraytext">@HCResources.OrderNo:</span> {{ payment.OrderNo }}
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <span class="smallgraytext">@HCResources.Date:</span> {{ payment.ScheduledPaymentDate | hcdate }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6"><span class="smallgraytext">@HCResources.Status:</span> <span class="label label-warning">{{ payment.ScheduledPaymentStatus }}</span></div>
                                        <div class="col-xs-6 text-right" style="font-size: 14pt; font-weight: bold;"><span ng-bind-html="payment.AmountJSON | hccurrency:'both':DisplayCurrency:2:true:false"></span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 mobile-footer text-right">
                                            <button type="button" ng-hide="payment.Source !== 'DistributorWebsite'" data-type="CANCELSCHEDULEDPAYMENT" data-id="{{ payment.ScheduledPaymentID }}" class="btn btn-danger btn-sm">@HCResources.Cancel &nbsp;<span class="fa fa-times"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div ng-hide="scheduledpayments.length > 0 || !loadedscheduledpayments" class="norecordsfound panel panel-info">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12 col-lg-offset-1 col-lg-10">
                                <div><span class="fa fa-search fa-5x"></span></div>
                                <div>
                                    <h2>@HCResources.NoScheduledPaymentsTitle.ToUpper()</h2>               
                                    <p>@HCResources.NoScheduledPaymentsMessage</p>
                                    <br>
                                </div>
                            </div>
                        </div>
                     </div>
                </div>

            </div>
            }
        </div>
    </div>

    <div class="panel box-max-medium HC-panel-det ng-cloak" data-type="HCDYNAMICDET" data-container="HCDYNAMICGRID_Distributors" ng-show="showdetails">
        <div class="panel-heading">
            <div class="btn-group pull-right">
                <a href="#" class="btn btn-default" onclick="HCE.AAPayments.CloseDetailWindow(this)"><span class="fa fa-close fa-lg"></span></a>
            </div>
            <h1>
                <span>@HCResources.ApplyPayment <span class="fa fa-credit-card fa-lg"></span></span>
            </h1>
        </div>
        <div class="panel-body">
            <form id="frmPaymentAccount" method="post" data-newccurl="@Html.Raw(ViewBag.APINEWCC)" data-submitpaymenturl="@Html.Raw(ViewBag.APISUBMITPAYMENT)" data-cancelspurl="@Html.Raw(ViewBag.APICANCELSCHEDULEDPAYMENT)">
                <div style="padding-top: 5px;">

                    <div class="row form-group">
                        <div class="col-xs-12 col-sm-6">
                            @Html.LabelFor(o => o.Client)
                            @Html.DropDownListFor(o => o.Client, DistributorWebsite.MVC.WebUI.Helpers.Common.GetSecurityItemClients(eSecurityItem.mnuAccountActivityPayments), new { data_type = "HCFORMVALUE", id = "Client", name = "Client", ng_model = "entity.Client", @class = "form-control nomax" })
                            @Html.HCValidationMessageFor(o => o.Client)
                        </div>
                    </div>

                    <div ng-hide="entity.Client === null || entity.Client === ''">

                        <div class="row form-group">
                            <div class="col-xs-12 col-sm-6">
                                @Html.LabelFor(o => o.PaymentType)
                                @Html.DropDownListFor(o => o.PaymentType, (SelectList)ViewBag.PAYMENTTYPE, new { id = "PaymentType", name = "PaymentType", ng_model = "entity.PaymentType", @class = "form-control nomax" })
                                @Html.ValidationMessageFor(o => o.PaymentType)
                            </div>
                        </div>

                        <div class="row form-group" ng-hide="entity.Client === 'CO'" ng-show="accounts !== null && accounts.length > 0">
                            <div class="col-xs-12 col-sm-6">
                                @Html.LabelFor(o => o.PaymentAccountType)
                                @Html.DropDownListFor(o => o.PaymentAccountType, (SelectList)ViewBag.PAYMENTACCOUNTTYPE, new { id = "PaymentAccountType", name = "PaymentAccountType", ng_model = "entity.PaymentAccountType", @class = "form-control nomax" })
                                @Html.ValidationMessageFor(o => o.PaymentAccountType)
                            </div>
                        </div>

                        <div class="row form-group" ng-hide="accounts === null || accounts.length <= 0 || entity.PaymentAccountType !== 'ONFILE'">
                            <div class="col-xs-12 col-sm-6">
                                @Html.LabelFor(o => o.PaymentAccountID)
                                @Html.DropDownListFor(o => o.PaymentAccountID, new List<SelectListItem>(), new { id = "PaymentAccountID", name = "PaymentAccountID", @class = "form-control nomax" })
                                @Html.ValidationMessageFor(o => o.PaymentAccountID)
                            </div>
                        </div>

                        <div class="row form-group" ng-hide="entity.PaymentType !== 'O'">
                            <div class="col-xs-12 col-sm-6">
                                @Html.LabelFor(o => o.OrderNo)
                                @Html.TextBoxFor(o => o.OrderNo, new { id = "OrderNo", name = "OrderNo", ng_model = "entity.OrderNo", @class = "form-control nomax", @type = "number" })
                                @Html.ValidationMessageFor(o => o.OrderNo)
                            </div>
                        </div>

                        <div class="row form-group" ng-hide="entity.PaymentAccountType === null || entity.PaymentAccountType === ''">
                            <div class="col-xs-12 col-sm-6">
                                @Html.LabelFor(o => o.Amount)
                                <div data-type="HCCURRENCY">
                                    <div class="input-group">
                                        <span class="input-group-addon"><strong>$</strong></span>
                                        @Html.TextBoxFor(o => o.Amount, new { id = "Amount", ng_model = "entity.Amount", data_inputtype = "HCCURRENCY", data_currency = "USD", data_decimals = ".", @class = "form-control nomax", placeholder = HCResources.Format + ": ####.##" })
                                    </div>
                                    <div ng-hide="entity.Amount === null">
                                        <span data-type="FORMATTEDTEXT"></span>
                                    </div>
                                </div>
                                @Html.HCValidationMessageFor(o => o.Amount)
                            </div>
                        </div>

                        <div class="row form-group" ng-hide="entity.PaymentAccount === null || entity.PaymentAccountType === ''">
                            <div class="col-xs-12">
                                @Html.LabelFor(o => o.TransactionNote)
                                @Html.TextAreaFor(o => o.TransactionNote, new { id = "TransactionNote", name = "TransactionNote", ng_model = "entity.TransactionNote", @class = "form-control nomax", maxlength = 500, rows = 5 })
                                @Html.HCValidationMessageFor(o => o.TransactionNote)
                            </div>
                        </div>

                        @*<div ng-show="isNew && entity.PaymentMethod !== 'DC' && entity.PaymentAccountType !== null && entity.PaymentAccountType !== ''">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <button type="submit" class="btn btn-primary">@HCResources.Continue <span class="fa fa-credit-card"></span></button>
                                        <button type="button" class="btn btn-default" onclick="HCE.PaymentAccounts.CloseDetailWindow(this)">@HCResources.Cancel <span class="fa fa-times"></span></button>
                                    </div>
                                </div>
                            </div>*@

                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer">
            <button class="btn btn-primary" data-type="SUBMITPAYMENT" ng-hide="entity.PaymentAccountType !== 'ONFILE'">@HCResources.Submit &nbsp;<span class="fa fa-save"></span></button>
            <button class="btn btn-primary" data-type="SUBMITPAYMENT" ng-hide="entity.PaymentAccountType === 'ONFILE'">@HCResources.Continue &nbsp;<span class="fa fa-arrow-circle-right"></span></button>
        </div>
    </div>

    <div class="box-max-xtralarge">
        @using (Html.BeginCustomDynamicForm<AccountActivityPaymentDTO>(DistributorWebsite.MVC.WebUI.Helpers.Application.Instance.APIS.DistributorWebAPI, "Distributors", Constants.DYNAMICTABLEWITHHEADERS, entityPath: "/Default.AccountActivityPaymentHistory", additionalTableClasses: "mobile-table"))
        {
            <tbody>
                <tr ng-repeat="entity in entities" class="ng-cloak ng-class:{'highlight' : entity.Highlight}" data-keys='{"PaymentID":{{ entity.PaymentID | json}},"Client":{{ entity.Client | json}}}'>
                    <td class="hidden-xs hidden-sm">{{ entity.PaymentID }}</td>
                    <td class="hidden-xs hidden-sm">{{ entity.Client }}</td>
                    <td class="hidden-xs hidden-sm">{{ entity.PaymentDate | hcdate }}</td>
                    <td class="hidden-xs hidden-sm">{{ entity.OrderNo }}</td>
                    <td class="hidden-xs hidden-sm text-right" ng-bind-html="entity.AmountO | hccurrency:'both':DisplayCurrency:2:true:false"></td>
                    <td class="hidden-xs hidden-sm">{{ entity.CardNumberObfuscated }}</td>
                    <td class="hidden-xs hidden-sm">{{ entity.AuthorizationID }}</td>
                    <td class="hidden-xs hidden-sm" ng-bind-html="entity.Status | hcpaymentstatus"></td>

                    <td class="hidden-md hidden-lg td-mobile" colspan="3">
                        <div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <span class="smallgraytext">@HCResources.PaymentID:</span> {{ entity.PaymentID }}
                                </div>
                                <div class="col-xs-6 text-right">
                                    {{ entity.CardNumberObfuscated }}
                                </div>
                            </div>
                            <div class="row" ng-hide="entity.OrderNo === null && entity.AuthorizationID === null">
                                <div class="col-xs-6">
                                    <span class="smallgraytext">@HCResources.OrderNo:</span> {{ entity.OrderNo }}
                                </div>
                                <div class="col-xs-6 text-right">
                                    <span class="smallgraytext">@HCResources.AuthorizationCode:</span> {{ entity.AuthorizationID}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6"><span class="smallgraytext">@HCResources.Status:</span> <span ng-bind-html="entity.Status | hcpaymentstatus"></span></div>
                                <div class="col-xs-6 text-right" style="font-size: 14pt; font-weight: bold;"><span ng-bind-html="entity.AmountO | hccurrency:'both':DisplayCurrency:2:true:false"></span></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 mobile-footer">{{ entity.PaymentDate | hcdatetime }}</div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        }
    </div>
</div>

@section scripts {

    <script type="text/javascript">
    <!--
    if (typeof HCE.CCPayments === 'undefined')
        HCE.CCPayments = {};

    HCE.Resources.NoRecordsFoundHTML = "@Html.Raw(DistributorWebsite.MVC.WebUI.Helpers.Common.NoRecordsFoundHTML(HCResources.Payments))";
    HCE.CCPayments.RootURL = "@(ViewBag.RootURL)";
    HCE.CCPayments.CustomerName = "@(ViewBag.CustomerName)";

    HCE.Resources.CloseConfirm = "@HCResources.CloseConfirm";
    HCE.Resources.Yes = "@HCResources.Yes";
    HCE.Resources.Cancel = "@HCResources.Cancel";

    HCE.Resources.CreatedTitle = "@HCResources.PaymentAccountCreatedTitle";
    HCE.Resources.CreatedMessage = "@HCResources.PaymentAccountCreatedMessage";

    HCE.Resources.SubmittedTitle = "@HCResources.PaymentProcessedTitle";
    HCE.Resources.SubmittedMessage = "@HCResources.PaymentProcssedMessage";

    HCE.Resources.ScheduledTitle = "@HCResources.PaymentScheduledTitle";
    HCE.Resources.ScheduledMessage = "@HCResources.PaymentScheduledMessage";

    HCE.Resources.CancelScheduledPaymentConfirm = "@Html.Raw(HCResources.CancelScheduledPaymentConfirm)";
    HCE.Resources.CancelledTitle = "@Html.Raw(HCResources.CancelScheduledPaymentSuccessTitle)";
    HCE.Resources.CancelledMessage = "@Html.Raw(HCResources.CancelScheduledPaymentSuccessMessage)";

    @Html.CreatePaymentStatusResourceText()

    //-->
    </script>

    @Scripts.Render("~/bundles/Pages/DistributorService/AccountActivityPayments")
}

@section headerlinks {
    <link rel='stylesheet' href='https://payments.worldpay.com/resources/hpp/integrations/embedded/css/hpp-embedded-integration-library.css' />
    <script src='https://payments.worldpay.com/resources/hpp/integrations/embedded/js/hpp-embedded-integration-library.js'></script>
}
