@using DistributorWebsite.MVC.WebUI.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="HC-page-header">@ViewBag.Title</h1>

<div ng-app="HCE" style="clear: both;">

    @using (Html.BeginCustomDynamicForm<FacturaDTO>(DistributorWebsite.MVC.WebUI.Helpers.Application.Instance.APIS.DistributorWebAPI, "Invoices", Constants.DYNAMICTABLEWITHHEADERS, additionalTableClasses: "mobile-table", autoInit: true))
    {
        <tbody>
            <tr ng-repeat="entity in entities" class="ng-cloak">
                <td class="hidden-xs hidden-sm">{{ entity.Client }}</td>
                <td class="hidden-xs hidden-sm">{{ entity.InvoiceDate | hcdate }}</td>
                <td class="hidden-xs hidden-sm text-nowrap">{{ entity.InvoiceID }}<span class="hidden-lg"><br /><span class="smallgraytext">{{ entity.InvoiceType }}</span></span></td>
                <td class="hidden-xs hidden-sm hidden-md">{{ entity.InvoiceType }}</td>
                <td class="hidden-xs hidden-sm"><span ng-hide="entity.OrderNo === 0">{{ entity.OrderNo }}</span></td>
                <td class="hidden-xs hidden-sm">
                    <span ng-show="entity.InvoiceCategory === 'C'">@HCResources.ChargeNote</span>
                    <span ng-show="entity.InvoiceCategory === 'F'">@HCResources.FacturaOrder</span>
                </td>
                <td class="hidden-xs hidden-sm">{{ entity.Name }}</td>
                <td class="hidden-xs hidden-sm text-nowrap">

                    <a ng-hide="!entity.HasDOC" href="@(Url.Content("~/DistributorService/Factura/")){{entity.RecordID}}?format=PDF" target="@(ViewBag.UseInlineFiles == true ? "_blank" : "_self")" class="btn btn-xs btn-default">
                        PDF &nbsp;<span class="fa fa-file-pdf-o fa-lg text-danger"></span>
                    </a>

                    <a ng-hide="!entity.InXML" href="@(Url.Content("~/DistributorService/Factura/")){{entity.RecordID}}?format=XML" target="@(ViewBag.UseInlineFiles == true ? "_blank" : "_self")" class="btn btn-xs btn-default">
                        XML &nbsp;<span class="fa fa-file-code-o fa-lg text-info"></span>
                    </a>
                </td>

                <td class="hidden-md hidden-lg td-mobile" colspan="4">
                    <div>
                        <div class="row padbottom-sm">
                            <div class="col-xs-12">
                                <table class="cell-table header40">
                                    <thead>
                                        <tr>
                                            <th colspan="2">{{entity.Client}} - {{ entity.Name }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="header">@HCResources.InvoiceNumber:</td>
                                            <td>{{ entity.InvoiceID }}</td>
                                        </tr>
                                        <tr>
                                            <td class="header">@HCResources.ProcessDate:</td>
                                            <td>{{ entity.InvoiceDate | hcdate }}</td>
                                        </tr>
                                        <tr>
                                            <td class="header">@HCResources.InvoiceType:</td>
                                            <td>{{ entity.InvoiceType }}</td>
                                        </tr>
                                        <tr>
                                            <td class="header">@HCResources.Category:</td>
                                            <td>
                                                <span ng-show="entity.InvoiceCategory === 'C'">@HCResources.ChargeNote</span>
                                                <span ng-show="entity.InvoiceCategory === 'F'">@HCResources.FacturaOrder</span>
                                            </td>
                                        </tr>
                                        <tr ng-hide="entity.OrderNo === 0">
                                            <td class="header">@HCResources.OrderNo:</td>
                                            <td>{{ entity.OrderNo }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-right">
                                <a ng-hide="!entity.HasDOC" href="@(Url.Content("~/DistributorService/Factura/")){{entity.RecordID}}?format=PDF" target="@(ViewBag.UseInlineFiles == true ? "_blank" : "_self")" class="btn btn-sm btn-default">
                                    PDF &nbsp;<span class="fa fa-file-pdf-o fa-lg text-danger"></span>
                                </a>

                                <a ng-hide="!entity.InXML" href="@(Url.Content("~/DistributorService/Factura/")){{entity.RecordID}}?format=XML" target="@(ViewBag.UseInlineFiles == true ? "_blank" : "_self")" class="btn btn-sm btn-default">
                                    XML &nbsp;<span class="fa fa-file-code-o fa-lg text-info"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </td>

            </tr>
        </tbody>
    }

</div>

@section scripts {

    @Scripts.Render("~/bundles/Pages/DistributorService/FacturaSearch")

    <script type="text/javascript">
	<!--

        $(function () {
        });

            //-->
    </script>
}

